PORT=3000
MONGO_URI=mongodb+srv://admin:admin123>@cluster0.at3j9lb.mongodb.net/sdc
FRONTEND_URL=http://localhost:5173


# Add the first email ID to be ADMIN 
OWNER_EMAIL='' 

# ADD MAIL APP PASSWORD TO SETUP TRANSPORTER TO SEND EMAIL
EMAIL_PASSWORD=''

# ADD JWT SECRET TO GENERATE THE TOKEN
JWT_SECRET=''